* {
    box-sizing: border-box;
}

@media (max-width: 820px) {
    body {
      font-size: 14px;
    }
}

@media (max-width: 320px) {
    body {
      font-size: 12px;
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: rgba(247, 238, 226, 0.5);
}

div.title {
    font-size: 2em;
    margin: 0px auto;
    max-width: 15em;
    height: 2.4em;
    padding: 0.8em 0px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
} 

.bayan {
    max-width: 30em;
    margin: 0px auto;
}

.bayan-item {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

img{
    display: block;
    margin: 0 auto;
    padding: 0.4em;
}

.bayan-title {
    color: blue;
    display: block;
    padding: 0.6em 0px;
    cursor: pointer;
    position:relative;
}

.bayan-img {
    overflow: hidden;
    padding: 0px;
    transition: 0.5s;
    max-height: 0;
}

@media (hover:hover){
    .bayan-item:hover > .bayan-title > .bayan-img{
        transition: 1s;
        max-height: 20em;
    }
    .bayan:hover .bayan-title {
        color: black;
    }
}

.bayan-item:active {
    opacity: 0.5;
}

.bayan-input {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}

.bayan-input:checked ~ .bayan-title > .bayan-img{
    transition: 1s;
    max-height: 20em;
}
.bayan-input:checked ~ .bayan-title{
    color: black;
}

.bayan-item:active > .bayan-title {
    color: blue;
}

.plus {
    color: black;
    font-size: 1.95em;
    font-weight: bold;
    position: absolute;
    right: 0.3em;
    top: 0.1em;
    overflow: hidden;
    max-height: 0;
    transition: .5s;
}

@media (hover:hover){
    .bayan-item:hover > .bayan-title > .plus {
        transform:rotate(45deg);
        max-height: 10em;
        transition: 0.3s;
    }
    .bayan:hover > .bayan-item > .bayan-input:checked ~ .bayan-title > .plus {
        transform:rotate(45deg);
        transition: 0.3s;
    }
    .bayan:hover .bayan-title .plus{
        max-height: 20em;
    }
}

